body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(5px);
  overflow-x: hidden;
}

.jumbotron,
.background-container,
#Menu,
#Contact
.bbbe{
  margin-bottom: 150px
}
